body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
    nav{
        border-radius: 24px;
        background-color:rgb(61, 56, 56);
        padding:16px;
    }
    nav a{
        margin:20px;
        padding: 8px;
        border-radius: 4px;
        background-color:greenyellow;
        text-decoration: none;
        
    }   
    .sobre{text-align: justify;}
    .name{
        color: dimgray;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    h5{ text-align: justify;}
    h3{ color:goldenrod;}
    .tech{  color:blueviolet;
            text-align: justify;
    }